@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --radius: 0.5rem;
  --primary: #5d5ad6;
  --dark-primary: #a2a529;
  --white: #ffffff;
  --white1: #f9f9f9;
  --white2: #eeeeee;
  --white3: #d6d6d6;
  --black: #000000;
  --black1: #1a1a1a;
  --black2: #383838;
  --black3: #101010;
  --black4: #1f1f1f;
  --gray: #a2a2a2;
  --gray1: #8c8c8c;
  --gray2: #656565;
  --heading: "ClashDisplay";
  --body: "Ageo";
}

body {
  font-family: var(--body);
  text-rendering: geometricPrecision;
  background-color: var(--white1);
  color: var(--black1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* cursor: none; */
  transition: all 0.5s;
}
